# Dependency
node_modules/
package-lock.json

# WhatsApp Web Session & Cache
.wwebjs_auth/
.wwebjs_cache/

# Environment Variables
.env

# Build Output
dist/
build/

# IDE
.idx/
.vscode/
.idea/
*.log

# OS Metadata
.DS_Store
Thumbs.db